@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu-med';
    src: url('../fonts/Ubuntu-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Ubuntu';
}

body {
    width: 100vw;
    height: auto;
}

/* header */

/* main */

.hero {
    background-image: url('../img/hero_image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
}

/* footer */

footer {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "hotels links subs"
        "hotels links subs"
        "hotels links subs"
        "hotels links subs"
        "hotels links subs";
    justify-content: space-between;
    gap: 1em;
    background-color: #111111;
}

/* .coverfoto {
    grid-area: coverfoto;
} */

.hotlel img {
    width: 100%;
}