@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu-med';
    src: url('../fonts/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: 'Ubuntu-light';
    src: url('../fonts/Ubuntu-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-font-white: #fff;
    --color-font-gold: #957554;
    --color-button: #DFAA5B;
}


html {
    font-size: 10px;
    font-family: 'Ubuntu';
    text-decoration: none;
}

body {
    width: 100vw;
    height: auto;
    text-align: center;
}

body h1 {
    font-size: 80px;
    color: var(--color-font-white);
}

body p, a {
    font-size: 18px;
    font-family: 'Ubuntu-med';
    color: var(--color-font-gold);
}

body a {
    text-decoration: none;
    margin: 2% 0;
}

body h2 {
    font-size: 45px;
    font-family: 'Ubuntu-med';
    color: var(--color-font-gold);
    padding-top: 2%;
    padding-bottom: 1%;
}

body h3 {
    font-size: 30px;
    font-family: 'Ubuntu-med';
    color: var(--color-font-white);
}

/* header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

header img {
    width: 10vw;
    height: auto;
    margin: 2%;
}

header nav ul {
    flex-direction: row;
    justify-content: space-around;
}

nav a {
    color: var(--color-font-gold);
    padding: 10px 20px;
}

nav a:hover {
    filter: opacity(0.5);
}

/* main */

.hero {
    background-image: url('../img/hero_image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    padding-top: 10%;
}

.hero p, a {
    color: var(--color-font-white);
}

.hero a {
    background-color: var(--color-button);
    border-radius: 0.5em;
    padding: 2% 7%;
}

.hero a:hover {
    filter: opacity(0.9);
    background-color: var(--color-font-gold);
}

.facil div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
}


.facil a {
    font-family: 'Ubuntu-light';
    font-size: 24px;
    font-weight: lighter;
    color: var(--color-font-gold);
}

.facil a:hover {
    filter: opacity(0.5);
}

.facil img {
    margin: 10px;
    width: 50%;
}

.rooms {
    background-color: darkgray;
}

.rooms div h3, a {
    z-index: 1;
}

.rooms div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rooms img {
    width: 630px;
}

.rooms div a {
    height: auto;
    background-color: var(--color-button);
    border-radius: 0.5em;
    padding: 2% 7%;
}

.rooms div a:hover {
    filter: opacity(0.9);
    background-color: var(--color-font-gold);
}

.book {
    width: 100vw;
    padding: 10%;
}

.book h2 {
    padding-bottom: 5%;
}

.book a {
    height: auto;
    background-color: var(--color-button);
    border-radius: 0.5em;
    padding: 2% 7%;
}
    
.book a:hover {
    filter: opacity(0.9);
    background-color: var(--color-font-gold);
}


/* footer */

footer {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "hotels links subs"
        "hotels links subs"
        "hotels links subs"
        "hotels links subs"
        "hotels links subs";
    align-items: stretch;
    justify-items: center;
    background-color: #111111;
    padding: 5% 5%;
}

.hotels {
    display: grid;
    grid-area: hotels;
    justify-content: space-between;
    gap: 5%;
}

.hotels img {
    width: 20%;
    padding-bottom: 2%;
}

.hotels h4 {
    font-family: 'Ubuntu-med';
    font-size: 1.5em;
    text-align: left;
    color: var(--color-font-white);
}

.hotels p {
    font-family: 'Ubuntu-light';
    font-size: 1.5em;
    color: var(--color-font-white);
}

.links {
    display: grid;
    grid-area: links;
    justify-content: space-between;
    gap: 5%;
}

.links a {
    font-family: 'Ubuntu';
    font-size: 1.5em;
    text-align: left;
}

.links a:hover {
    filter: opacity(0.5);
}

.subs {
    display: grid;
    grid-area: subs;
    justify-content: space-between;
    gap: 5%;
}

.subs p {
    font-family: 'Ubuntu-med';
    font-size: 2.5em;
    color: var(--color-font-white);
}